<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://jakarta.apache.org/log4j/extras/log4j.dtd">

	<!--
		=====================================================================
	-->
	<!--
	-->
	<!--
		Log4j Configuration
	-->
	<!--
	-->
	<!--
		=====================================================================
	-->

	<!--
		Production log4j configuration. Log-Files are compressed and the catalina.out log is only used for
		container messages but not for something else.
	-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">

	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<!-- default target is System.out -->
		<param name="Target" value="System.out" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%C{1}.%M()]  %m%n" />
		</layout>
	</appender>

	<!-- ========================================= -->
    <!-- Append messages to CSV file for debugging -->
    <!-- ========================================= -->
    <appender name="MAPMATCHING-CSV" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="src/test/resources/logs/MapMatching_%d.csv"/>
        </rollingPolicy>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS};%m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
            <param name="LevelToMatch" value="INFO"/>
        	<param name="AcceptOnMatch" value="true"/>
    	</filter>
    </appender>

	<!-- <category name="at.srfg.graphium.mapmatching.neo4j.matcher.impl">
		<priority value="DEBUG" />
	</category> -->
	
	<!-- <category name="at.srfg.graphium.mapmatching.weighting.impl">
		<priority value="DEBUG" />
	</category> -->
	
	<root>
        <priority value="INFO"/>       
        <appender-ref ref="CONSOLE"/>
    </root>
    
     <logger name="mapMatchingLogger" additivity="false">
     	<level value="INFO" />
         <appender-ref ref="MAPMATCHING-CSV"/>
     </logger>

</log4j:configuration>